@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Developer by <a href="#">Hasan ADIGÜZEL</a>.</p>
    <p>Student Number: 18330428</p>
</div>
